<md-dialog aria-label="qrcode dialog" ng-style="setDialogWidth()">
    <md-toolbar hide-gt-sm>
        <div class="md-toolbar-tools">
            <h2>{{ publicInfo.serverName }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="publicInfo.hide()">
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="column" layout-align="center center">
                <a ng-href="{{ publicInfo.ssAddress }}">
                    <qr layout-margin text="publicInfo.ssAddress" image="true"></qr>
                </a>
                <md-radio-group ng-model="publicInfo.codeType" layout="row" layout-wrap layout-align="start center" ng-change="{{ changeQrcodeType() }}">
                    <md-radio-button ng-repeat="type in publicInfo.types" value="{{ type }}">
                        <div style="margin: 3px;">{{ type }}</div>
                    </md-radio-button>
                </md-radio-group>
                <div>
                    <br>{{ 'v2aryN支持v2rayNG手机客户端和v2rayN微软PC客户端|shadowrocket支持IOS小火箭' | translate }}
                    <br>{{ '点击二维码或者用移动设备扫描二维码可自动填充服务器信息' | translate }}
                </div>
                <div
                  class="hover-mouse"
                  style="word-break: break-all;"
                  ng-click="publicInfo.toast()"
                  ngclipboard
                  data-clipboard-text="{{ publicInfo.ssAddress }}">
                  <br>{{ publicInfo.ssAddress }}
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>